<h1>Clientx</h1>
<section class="main">
	<header>
		<h1>Sentiment Survey</h1>
	</header>
	
		<%= simple_form_for(@client_survey) do |f| %>
		<%= f.input :survey_id, :as => :hidden, :input_html => { :value => @survey.id } %>
  
    <%= f.input :text %>
    <%= f.input :name %>
    <%= f.input :email %>



    <%= f.button :submit %>>
    <% end %>

</section>

<!-- <section class="main" ng-controller="surveyController">
	<header>
		<h1>Sentiment Survey Angular</h1>
	</header>
		
	<p><%#= @survey.question %></p> <br>
	
	<form ng-submit="saveSurvey()">
		<textarea cols="80" rows="6" placeholder="Feedback here" ng-model="feedback"></textarea><br>

		<input class="btn btn-default" type="submit" value="Submit">
	</form>
	
</section> -->