= simple_form_for(@admin_survey) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :url_token
    = link_to 'Generate', '#', class: 'btn btn-default generate'
    = f.input :question

  .form-actions
    = f.button :submit
