= simple_form_for(@admin_survey) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :url_token
    = link_to 'Generate', '#', class: 'btn btn-default generate'
    = f.input :question

  .form-actions.wrap
    = f.button :submit, class: 'btn btn-default'
    =# link_to 'Back', admin_surveys_path
