<%= simple_form_for(@admin_survey) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name, input_html: {class: 'form-control'}, label: 'Survey Name:' %>
  </div>
  <!-- <div class="form-group">
    <%#= f.input :question, input_html: {class: 'form-control'}, label: 'Survey Question:' %>
  </div> -->
  <div class="form-group">
    <%= link_to 'Generate', '#', class: 'btn btn-default generate' %>
  </div>
  <div class="form-group">
    <%= f.input :url_token, input_html: {class: 'form-control url_token'}, label: 'Survey URL:' %>
  </div>

  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-default' %>
  </div>
    <%= render 'partials/socials'%>

<% end %>