%h1 My Surveys

%table.table
  %thead
    %tr
      %th Name
      %th Url token
      %th Question
      %th
      %th
      %th
      
  %tbody
    - @admin_surveys.each do |admin_survey|
      %tr
        %td= admin_survey.name
        %td= admin_survey.url_token
        %td= admin_survey.question
        %td= link_to 'Show', admin_survey
        %td= link_to 'Edit', edit_admin_survey_path(admin_survey)
        %td= link_to 'Destroy', admin_survey, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Survey', new_admin_survey_path, :class => 'btn'
