%p#notice= notice

%p
  %b Name:
  = @admin_survey.name
%p
  %b Url token:
  = @admin_survey.url_token


%h2 Survey Results details below
%p charts data
%p information
= link_to 'Edit', edit_admin_survey_path(@admin_survey)
\|
= link_to 'Back', admin_surveys_path
