<div class="col-sm-9 col-sm-offset-2" style="margin-top: 2em;">
    <h2><%#= @admin_survey.name %></h2>
    <%#= link_to request.host_with_port() + "/feedback/" + @admin_survey.url_token, "http://" + request.host_with_port() + "/feedback/" + @admin_survey.url_token %><br>
    <div class="form-group" style="font-size: 30px;">
    <label>Survey Name:</label>
      <h2><%= @admin_survey.name %></h2>
    </div>

    <div class="form-group" style="font-size: 30px;">
        <label>Survey URL:</label>
      <%= link_to "#{request.host_with_port}/feedback/#{@admin_survey.url_token}", "http://#{request.host_with_port}/feedback/#{@admin_survey.url_token}", target: '_blank' %>
        <br>
      <%#= f.input :url_token, input_html: {class: 'form-control url_token', style: 'border: none; font-size: 30px;padding: 0;'}, label: 'Survey URL:' %>
      <span style="color: red; font-size: 12px;">Share this url in any printed or digital communications.</span> <br>
    </div>
</div>
<div class="col-sm-6 col-sm-offset-3" style="margin-top: 2em;">
<%#= link_to 'Edit', edit_admin_survey_path(@admin_survey) %>
<%#= link_to 'My Surveys', admin_surveys_path %>

</div>
<!-- <table class="table">
    <thead>
        <tr>
            <th>Client Feedback</th>
            <th>Score</th>
            <th>Date/Time</th>
        </tr>
    </thead>
    <tbody>
    <% @admin_survey.client_surveys.each do |client_survey| %>
    <tr>
        <td><%= client_survey.text %></td>
        <td><%= client_survey.score %></td>
        <td><%= client_survey.created_at.strftime('%d %h %Y') %></td>
    </tr>
    <% end %>
    </tbody>
</table>
 -->

<%#= link_to 'Back', admin_surveys_path %>
