<header>
    <h1>Client Sentiment Pulse Report</h1>
    <p>Pick the date range you want to examine the sentiment pulse for and then optionally filter the data on campaign name, target word and use the sentiment value slider to set the maximum sentiment value.</p>
</header>
<div class="filter row">
	<%= form_tag admin_report_path, :method => 'get' do %>
  <div class="col-sm-2">
    <%= text_field_tag :search, params[:text], id: 'date_from', placeholder: 'Date From', class: 'form-control datepicker-input' %>
  </div>
  <div class="col-sm-2">
    <%= text_field_tag :search, params[:text], id: 'date_to', placeholder: 'Date To', class: 'form-control datepicker-input' %>
  </div>
  <div class="col-sm-2">
  	<%= select("survey", "survey_id", @surveys.collect {|p| [ p.name, p.id ] }, {}, {class: 'form-control '}) %>
  </div>
  <div class="col-sm-2">
    <%= text_field_tag :search, params[:text], placeholder: 'Target word', class: 'form-control' %>
  </div>
  <div class="col-sm-2">
    <%= submit_tag "Update", :name => nil, class: 'btn btn-default' %>
  </div>
<% end %>
	
</div>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<% content_for :scripts do %>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
$(function () {
    $( "#date_from" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      onClose: function( selectedDate ) {
        $( "#date_to" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#date_to" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      onClose: function( selectedDate ) {
        $( "#date_from" ).datepicker( "option", "maxDate", selectedDate );
      }
    });


    $('#container').highcharts({
        title: {
            text: '',
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: ''
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '°C'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Tokyo',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }, {
            name: 'New York',
            data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
        }]
    });
});
</script>	


<% end %>
