<p>
  <%# unless @survey.question.nil? %>
    <%#= @survey.question %>
  <%# else %>
    Tell us, in your own words, your feelings about <%= @survey.company %> <br>
    This is include your opinions about products, services, your experience of interactions with us or anything else you want to say about <%= @survey.company %>.
  <%# end %>
</p>

<%= simple_form_for(@client_survey) do |f| %>
  <%= f.error_notification %>
  <div class="tabs">
    
    <div class="tab-content" style="margin-bottom: 2em;">
      
      <div class="form-grp">
        <%= f.input :text, label: false, autofocus: true, :input_html => {:class => 'form-control'}, placeholder: 'Enter your comment here...' %>
      </div>
    </div>
  </div>
  <%= f.input :survey_id, :as => :hidden, :input_html => { :value => @survey.id } %>
  <%= f.input :score, :as => :hidden  %>
  
  <div id="slider1"></div>

  <div style="margin-top: 2em;">
    <span style="color:#b42626;font-size:13px;">
      On a scale of 0 to 10, where 0 is very negative and 10 is very positive, how would you rate your sentiment towards Clientx at this moment.
    </span>
  </div>
  <div class="contact-panel">
    <label for="pcm">
      <%= check_box_tag 'pcm', 'yes', false, class: 'contact_me' %> Please contact me.
    </label>
  </div>  
  <div class="row">
    <div class="contact-form">

      <div class="form-group">
        <label class="col-sm-3 control-label">Name*:</label>
        <div class="col-sm-9">
          <%= f.input :name, placeholder: 'Name', required: false, input_html: { class: 'form-control input-lg' }, label: false %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Email*:</label>
        <div class="col-sm-9">
          <%= f.input :email, placeholder: 'E-mail address', required: false, input_html: { class: 'form-control input-lg' }, label: false %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Phone:</label>
        <div class="col-sm-9">
          <%= f.input :phone, placeholder: 'Phone', required: false, input_html: { class: 'form-control input-lg' }, label: false %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Company:</label>
        <div class="col-sm-9">
          <%= f.input :company, placeholder: 'Company', required: false, input_html: { class: 'form-control input-lg' }, label: false %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">&nbsp;</label>
        <div class="col-sm-9">
          <span style="color:#b42626;font-size:13px;">
            We will contact you shortly, using the details you have given us.
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="wrap" style="margin-top: 2em;">
          <%= f.submit 'Submit', class: 'btn btn-lg btn-default' %>
        </div>
      </div>
    </div>
  </div>

<% end %>

<% content_for :scripts do %>
 
 <script type="text/javascript">
  $('#pcm').on('click', function(){
    if($("#pcm").is(':checked'))
      $('.contact-form').show();
    else{
      $('#client_survey_name').val("");
      $('#client_survey_email').val("");
      $('.contact-form').hide();
    }
  });
 </script>
 
  <script type="text/javascript">

  //Slider
  $("#slider1").ionRangeSlider({
      type: "single",
      min: 0,
      max: 10,
      step: 1,
      from: 5,
      grid: true,
      grid_num: 10,
      onStart: function (data) {
        console.log("onStart");
        $('#client_survey_score').val(data['from']);
      },
      onChange: function (data) {
        $('#client_survey_score').val(data['from']);
      }
  });
    </script>
<% end %>