%br

%h2= @survey.question
= simple_form_for(@client_survey) do |f|
  = f.error_notification

  = f.input :survey_id, :as => :hidden, :input_html => { :value => @survey.id }
  = f.input :text
  = f.input :score, as: :radio_buttons, :collection => [ ['1', 1], ['2', 2],['3', 3], ['4', 4],['5', 5], ['6', 6],['7', 7], ['8', 8],['9', 9], ['10', 10], ]
  = f.input :name
  = f.input :email
    
  = f.button :submit
