%br

%h2= @survey.question
= simple_form_for(@client_survey) do |f|
  = f.error_notification

  = f.input :survey_id, :as => :hidden, :input_html => { :value => @survey.id }
  = f.input :text
  = f.input :name
  = f.input :email
    
  = f.button :submit
