<p>
  <% unless @survey.question.nil? %>
    <%= @survey.question %>
  <% else %>
    Tell us, in your own words, your feelings about Clientx. <br>
    This is include your opinions about products, services, your experience of interactions with us or anything else you want to say about Clientx.
  <% end %>
</p>
<%= simple_form_for(@client_survey) do |f| %>
  <%= f.error_notification %>
  <div class="tabs">
    
    <div class="tab-content" style="margin-bottom: 2em;">
      
      <div class="form-grp">
        <%= f.input :text, label: false, :input_html => {:class => 'form-control'}, placeholder: 'Enter your comment here...' %>
      </div>
    </div>
  </div>
  <%= f.input :survey_id, :as => :hidden, :input_html => { :value => @survey.id } %>
  <%= f.input :score, :as => :hidden  %>
  
  <div id="slider1"></div>

  <div class="contact-panel">
    <%= check_box_tag 'pcm', 'yes', false, class: 'contact_me' %> Please contact me.
  </div>  

  <div class="wrap" style="margin-top: 2em;">
    <%= f.submit 'Tell us', class: 'btn btn-default' %>
  </div>

<% end %>

<% content_for :scripts do %>
 
 <script type="text/javascript">
  $('#pcm').on('click', function(){
    alert('show form');
  });
 </script>
 
  <script type="text/javascript">

  //Slider
  $("#slider1").ionRangeSlider({
      type: "single",
      min: 0,
      max: 10,
      step: 1,
      from: 5,
      grid: true,
      grid_num: 10,
      onStart: function (data) {
        console.log("onStart");
        $('#client_survey_score').val(data['from']);
      },
      onChange: function (data) {
        $('#client_survey_score').val(data['from']);
      }
  });
    </script>
<% end %>