%p#notice= notice

%p
  %b Text:
  = @client_survey.text
%p
  %b Name:
  = @client_survey.name
%p
  %b Email:
  = @client_survey.email
%p
  %b Survey:
  = @client_survey.survey

= link_to 'Edit', edit_client_survey_path(@client_survey)
\|
= link_to 'Back', client_surveys_path
